.img{
    
    background-image: url("eco-warrior-princess-TsOeGUwWzWo-unsplash.jpg");
    background-repeat: no-repeat;

    
    
    background-size : cover;
    background-position : center;
    height:1000px;
    width:1600px;    
}
.Al{
    margin-top: -900px;
    box-shadow: 5px;
}
